.backgroundFacts {
    height: 100vh; 
    width: 100vw; 
    top: 0;
    left: 0;
    position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("assets/factsBackground.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hFacts{
    font-size: xx-large;
    background-color: white;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    float:right;
    width: 20vw;
    text-align: center;
    margin: 20px;

}

.factBoarder{
    font-size: xx-large;
    background-color: white;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    width: 70vw;
    margin: 30px;
}

.factParagraph{
    font-size: larger;
}

.hItem{
    text-align: center;
}