.backgroundPlasticWaterBottle {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-right: 50px;
    height: 100vh; 
    width: 100vw; 
    top: 0;
    left: 0;
    position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("assets/plasticWaterBottle.jpeg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemP{
    padding-left: 201px;
    padding-right: 200px;
    font-size:x-large;
}