.backgroundPlasticWaterBottle {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-right: 50px;
    height: 100vh; 
    width: 100vw; 
    top: 0;
    left: 0;
    position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("assets/plasticWaterBottle.jpeg");
    display: flex;
    flex-direction: column;

}

.backgroundPlasticWaterBottle {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-right: 50px;
    height: 100vh; 
    width: 100vw; 
    top: 0;
    left: 0;
    position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("assets/bananaPeel.jpg");
    display: flex;
    flex-direction: column;

}

.basics{
    align-items: center;
    display: flex;
    flex-direction: column;

}

.itemP{
    padding-left: 19px;
    padding-right: 20px;
    font-size:x-large;
    background-color: rgb(255, 255, 255);
    width: 60vw;
    border-radius: 50px;
}

.itemReturn{
    font-size:small;
    position: apsolute;
    left: 300px;

}


.button {
    background-color: white;
    font-size:large;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    float:unset;
    border-radius: 20px;
    padding: 10px;
    position: fixed; bottom: 0;
    margin: 30px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
a:hover {
    background-color: #ddd;
}