.background {
    height: 100vh; 
    /* width: 100vh;  */
    position: relative;
    background-size: cover;
    background-position: 50% 50%;



    background-image: url("RecyclingBinEdited.png");

    
}

.comicSans{
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

.searchBar{
    
}